/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-sprockets";

html, body {
  height: 100%;
  //font-family: 'Lato', sans-serif;
  //font-family: 'EB Garamond', serif;

  
}

.wrapper {
  display: flex;
  width: 100%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////

#sidebar {
    font-family: 'Roboto', sans-serif;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #4D394B;
    color: white;
    transition: all 0.3s;
    padding: 20px 0px 0px 20px;

    #sidebar-header {
      font-family: 'Montserrat', sans-serif !important;
      letter-spacing: 3px;
      padding-bottom: 0px;
      a { color: white; text-decoration: none; }
      a:hover { color: #DFDEDE; }
      h1 { font-size: 1.6em; }
    }

    #sidebar-user {
      padding-bottom: 20px;
    }

    #sidebar-username{
      padding-right: 10px;
    }

    #sidebar-user-logout {
      font-weight: 1;
      color: #888888;
      a { 
        color: #888888; 
        font-weight: 1;
      }
    }

    #sidebar-channels {
      padding-bottom: 20px;     
    }

    #sidebar-users {
      padding-bottom: 20px;
    }

    #sidebar-listitem {
      list-style-type: none;
      margin-left: -30px;  
    }

    a { 
      //color: rgb(202,196,201); 
      color: #BABABA;
    }

    h4 {
      font-size: 1.1em;
    }

}

////////////////////////////////////////////////////////////////////////////////////////////////////

#show-main {
  //font-family: 'Roboto', sans-serif;
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  background: #EEEDED;

  #show-header {
    font-family: 'Montserrat', sans-serif;
    background: #FCFACA;
    position: fixed;
    width: 84%;
    padding-top: 10px;
    text-align: left;
    a { color: black; text-decoration: none; }
    a:hover { color: #494600; }
  }

  #show-roomname {
    font-size: 1.5em;
    font-weight: 800;
    color: #636363;
    padding-left: 15px;
    letter-spacing: 4px;
  }

  #show-links {
    font-size: 1.4em;
    font-weight: 800;
  }

  #show-message-window {  
    padding-left: 30px;
    margin-bottom: 50px;
    margin-top: 55px;
  }

  .message-listitem {

    .message-user {
      font-size: 0.9em;
      font-weight: 800;
      color: #000000;
    }

    .message-time {
     // color: #848484;
    }

    .message-body {
      font-size: 1.3em;
      font-weight: 300;
    }

    li {
      list-style-type: none;
    }
  }

  .left {
    padding: 5px 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: -webkit-linear-gradient(left,rgba(215,229,228,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,255,255,0),rgba(215,229,228,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,255,255,0),rgba(215,229,228,1)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(215,229,228,1), rgba(255,255,255,0)); /*Standard*/
    text-align: left;
  }

  .right {
    padding: 5px 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(228,215,229,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(228,215,229,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(228,215,229,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(228,215,229,1)); /*Standard*/
    text-align: right;
  }

  #show-footer {
    margin-top: 20px;
    bottom: 0;
    position: fixed;
    width: 90%;
    box-sizing: border-box;
  }

}

li {
  list-style-type: none;
}

////////////////////////////////////////////////////////////////////////////////////////////////////


#index-main {

  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 0px 0px 20px;
  background: #F9F9F9;
  
  table {
    width: 90%;
  }

  th, td {
    border: solid #E5E5E5 1px;
    padding: 6px;
  }

  a {
    color: #8A8888;
  }

  a:hover {
    color: #4D4D4D;
  }

  #index-table {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  #index-table-body {

  }

  #index-table-rows {
    letter-spacing: 4px;
  }

  #index-new-room-btn {
    font-size: 1.4em;
    a { color: black; }
  }

  #index-new-room-form {
    padding-bottom: 20px;
  }

  #index-form-back {
    font-size: 0.7em;
    padding-left: 5px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: red;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}