/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-sprockets";

body {
  font-family: 'Lato', sans-serif;
}

table {
  width: 90%;
}

th, td {
  border: solid #E5E5E5 1px;
  padding: 6px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////

html, body, .container-fluid, .row {
  height: 100%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////







.sidebar-main {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #4D394B;
  color: rgb(202,196,201);

  .sidebar-items {

  }

  .sidebar-channels {

  }

  .sidebar-channels {

  }

  .sidebar-users {

  }

  .sidebar-listitem {
    list-style-type: none;
    margin-left: -30px;

    a {
      color: white;
    }
  }

}



.content {
  width: 1440px;
  height: 300px;
  position: relative;
  background: #f55;

}


.show-main {
 
  margin-left: 200px;
  margin-bottom: 10px;
  height: 100%;
  width: auto;
  position: relative;
  background: #f00;
  //overflow: auto;
  //z-index: 1;

  .show-message-window {
    background: #F2F2F2;
    position: static;
    height: 863px;
    //margin-bottom: 75px;
    padding-bottom: 75px;
   // overflow: scroll;


     .show-message-form {
    z-index: 1;  
    //margin-bottom: 20px;
    //padding: 0px 50px 0px 0px;
  //   position: fixed;
  //   bottom: 0;
  //   width: 92%;
  }
  }

  .show-messages {
    padding: 15px 0px 10px 20px;
  }



  .show-room-name {
    width: 100%;
    background: white;
    position: fixed;
    z-index: 1;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .show-links {
    padding-top: 10px;
    //padding: 10px 0px 0px 10px;
  }

  .message-listitem {

    padding-bottom: 10px;

    .message-user {
      font-size: 1.3em;
      font-weight: bolder;
      padding-right: 15px;
    }

    .message-time {
      color: #848484;
    }

    .message-body {
      font-size: 1.1em;
      padding-top: 5px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: red;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}