/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-sprockets";

html, body {
  height: 100%;
  //font-family: 'Lato', sans-serif;
  //font-family: 'EB Garamond', serif;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
}


////////////////////////////////////////////////////////////////////////////////////////////////////

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #4D394B;
    color: white;
    transition: all 0.3s;
    padding: 20px 0px 0px 20px;

    #sidebar-header {
      padding-bottom: 20px;
      a { color: white; text-decoration: none; }
      a:hover { color: #DFDEDE; }

    }

    #sidebar-user {
      padding-bottom: 20px;
    }

    #sidebar-username{
      padding-right: 10px;
    }

    #sidebar-user-logout {
      font-weight: 1;
      color: #888888;
      a { 
        color: #888888; 
        font-weight: 1;
      }
    }

    #sidebar-channels {
      padding-bottom: 20px;     
    }

    #sidebar-users {
      padding-bottom: 20px;
    }

    #sidebar-listitem {
      list-style-type: none;
      margin-left: -30px;  
    }

    a { color: rgb(202,196,201); }

}

////////////////////////////////////////////////////////////////////////////////////////////////////

#show-main {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;

  #show-header {
    background: #FCFACA;
    position: fixed;
    width: 84%;
    padding-top: 10px;
    text-align: left;

    a { color: black; text-decoration: none; }
    a:hover { color: #494600; }
  }

  #show-roomname {
    font-size: 1.5em;
    font-weight: 800;
    color: #636363;
    padding-left: 15px;
    letter-spacing: 4px;
    
  }

  #show-links {
    font-size: 1.4em;
    font-weight: 800;
  }


  #show-message-window {  
    overflow: scroll;
    padding-left: 30px;
    margin-bottom: 50px;
  }

  #show-message {
    padding-left: 30px;
  }

  #message-listitem {
    padding-left: 30px;
    padding-bottom: 10px;
  }

  #show-footer {
    margin-top: 20px;
    bottom: 0;
    position: fixed;
    width: 90%;
    box-sizing: border-box;
  }

  ol {
    padding-bottom: 100px;
  }

  // #message-listitem {
  //   padding-left: 30px;
  //   padding-bottom: 10px;

  //   #message-user {
  //     color: red;
  //     font-size: 1.3em;
  //     font-weight: bolder;
  //     padding-right: 15px;
  //   }

  //   #message-time {
  //     color: #848484;
  //   }

  //   #message-body {
  //     font-size: 1.1em;
  //     padding-top: 5px;
  //   }
  // }
}

////////////////////////////////////////////////////////////////////////////////////////////////////


#index {

  table {
    width: 90%;
  }

  th, td {
    border: solid #E5E5E5 1px;
    padding: 6px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////

.left {
  padding: 5px 10px;
  background: -webkit-linear-gradient(left,rgba(215,229,228,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,255,255,0),rgba(215,229,228,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,255,255,0),rgba(215,229,228,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(215,229,228,1), rgba(255,255,255,0)); /*Standard*/
  text-align: left;
}

.right {
  padding: 5px 10px;
  background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(228,215,229,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(228,215,229,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(228,215,229,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
  background: linear-gradient(to right,rgba(255,255,255,0),rgba(228,215,229,1)); /*Standard*/
  text-align: right;
}

////////////////////////////////////////////////////////////////////////////////////////////////////

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: red;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}