/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-sprockets";

body {
  font-family: 'PT Serif', serif;
}

table {
  width: 90%;
  //border: solid 1px;
}

th, td {
  border: solid #E5E5E5 1px;
  padding: 20px;
}

.main-index{

  a {
    color: white;
  }
}

.message-window {
	margin-right: 50px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border: solid black 1px;
  background: #F2F2F2;
}

.messages {
	padding: 15px 0px 10px 20px;
}

.message-form {
	padding: 0px 50px 0px 20px;
}

.room-name {
	padding: 10px 0px 0px 0px;
}


.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: red;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}